{% extends "../base.html" %}

{% block title %}Wann - Contact{% endblock title %}
{% load static %}
{% block content %}

<!-- Contact -->
<section class="contact-area">
    <div class="container">
        <div class="gx-row d-flex justify-content-between gap-24">
            <div class="contact-infos">
                <h3 data-aos="fade-up">Info Kontak</h3>
                <ul class="contact-details">
                    <li class="d-flex align-items-center" data-aos="zoom-in">
                        <div class="icon-box shadow-box">
                            <i class="iconoir-mail"></i>
                        </div>
                        <div class="right">
                            <span>Email</span>
                            <h4>simboloni288@gmail.com</h4>
                            <h4>wandra290401@gmail.com</h4>
                        </div>
                    </li>

                    <li class="d-flex align-items-center" data-aos="zoom-in">
                        <div class="icon-box shadow-box">
                            <i class="iconoir-phone"></i>
                        </div>
                        <div class="right">
                            <span>Telp</span>
                            <h4>+62 813-6221-6306</h4>
                        </div>
                    </li>

                    <li class="d-flex align-items-center" data-aos="zoom-in">
                        <div class="icon-box shadow-box">
                            <i class="iconoir-map-pin"></i>
                        </div>
                        <div class="right">
                            <span>Lokasi</span>
                            <h4>Jl.Tualang, Pematang Siantar <br>Sumatra Utara</h4>
                        </div>
                    </li>
                </ul>


                <h3 data-aos="fade-up">Sosial Media</h3>
                <ul class="social-links d-flex align-center" data-aos="zoom-in">
                    <li>
                        <a class="shadow-box" href="https://www.instagram.com/_wann29_/" title="INSTAGRAM : riswan29">
                        <i class="iconoir-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a class="shadow-box" href="https://web.facebook.com/profile.php?id=100095318254950" title="FACEBOOK : riswan29">
                        <i class="iconoir-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="shadow-box" href="https://github.com/riswan29" title='GITHUB : riswan29'>
                        <i class="iconoir-github"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div data-aos="zoom-in" class="contact-form">
                <div class="shadow-box">
                    <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                    <img src="{% static "assets/images/icon3.png" %}" alt="Icon">
                    <h1>Let’s work <span>together.</span></h1>
                    <form method="POST" action="https://wpriverthemes.com/landing/gridx-html/mailer.php">
                        <div class="alert alert-success messenger-box-contact__msg" style="display: none" role="alert">
                            Your message was sent successfully.
                        </div>
                        <div class="input-group">
                            <input type="text" name="full-name" id="full-name" placeholder="Name *">
                        </div>
                        <div class="input-group">
                            <input type="email" name="email" id="email" placeholder="Email *">
                        </div>
                        <div class="input-group">
                            <input type="text" name="subject" id="subject" placeholder="Your Subject *">
                        </div>
                        <div class="input-group">
                            <textarea name="message" id="message" placeholder="Your Message *"></textarea>
                        </div>
                        <div class="input-group">
                            <button class="theme-btn submit-btn" name="submit" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content %}
